section, div{
    /* border: 2px solid red; */
    margin: 5px;
    padding: 10px;
    display: flex;
    flex: 1;
}
body{
    background-color: #fff;
    font-family: Arial;
}
.logo{
    flex: 3;
    color: #e9204f;;
    margin: 28px 0px;
    font-size: 50px;
    line-height: 12px;
    padding-left: 170px;
}

.services{
    font-size: 18px;
    color: #474545;
    line-height: 78px;
    font-weight: bold;
}

.button{
    background-color:#e9204f;
    color:#fff;
    height:32px;
    border-radius: 30px;
    padding: 5px 18px 5px;
    font-weight: bold;
    line-height: 32px;
}